[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
pygetwindow = "*"
ocrmac = {version = "*", sys_platform = "== 'darwin'"}
pytesseract = {version = "*", sys_platform = "== 'win32'"}

[dev-packages]

[scripts]
mlbtvmuter = "python3 mlbtvmuter.py"